* {
    box-sizing: border-box;
}
html {
    color: rgb(43,43,43);
}

@media (max-width: 320px) {
    html {
        font-size: 0.9em;
    }
}

body {
    background-color: #E4EFF7;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

p, li {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6em;
}

h2 {
    color: #344756;
}

.add-padding{
    padding: 0px 10px;
}

p.title {
    color: white;
/*    margin: 16px 0px 16px 0px;*/
    margin: 16px 0px;
}

@media (max-width: 768px) {
    p.title {
        margin: 5px 0px 0px 0px;
    }
}

header div.background {
    background: url(img/background.jpg) no-repeat center -300px;
    height: 1000px;
    margin-top: 0;
}

header div.header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 200px;
}

header div.header h1 {
    margin-top: 0;
}

header div.header img {
    margin-bottom: 1em;
}

p.orange {
    color: #AA6322;
    font-size: 1.2em;
}

img.down-arrow {
    margin: 70px auto auto auto;
    width: 30px;
}

nav div.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav .menu.menu-dark {
    background-color: rgb(12, 19, 25);
    transition: background-color 0.5s;
}

nav .menu.menu-light {
    background-color: rgb(202,220,229);
    transition: background-color 0.5s;
}

div.top-title {
    width: 200px;
    float: left;
}

@media (max-width: 768px) {
    div.top-title {
        width: 100%;
/*        margin: auto;*/
        float: none;
    }
}

div .title {
    font-family: 'Montserrat', sans-serif;
/*    width: 200px;*/
/*    float: left;*/
    text-transform: uppercase;
    padding-left: 20px;
    text-align: left;
    z-index: 5;
}

@media (max-width: 768px) {
    div .title {
        padding: 0;
        text-align: center;
    }
}

div .title.title-dark a {
    color: rgb(255,255,255);
    transition: background-color 1s;
    text-decoration-line: none;
}

div .title.title-light a {
    color: rgb(85,120,142);
    transition: background-color 1s;
    text-decoration-line: none;
}

div.top-title div.name-underline {
    border-bottom: 1px solid white;
    height: 0px;
    width: 160px;
    float: left;
    position: fixed;
    top: 35px;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 24px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    div.top-title div.name-underline {
        margin: 0 auto;
        position: static;
        height: 0px;
        float: none;
        width: 160px;
    }
}

.underline-dark {
    border-bottom: 1px solid rgb(255,255,255);
}

.underline-light {
    border-bottom: 1px solid rgb(85,120,142);
}

nav div.menu ul {
    float: right;
    width: 400px;
    text-align: right;
    display: inline-block;
    padding-right: 30px;
}

@media (max-width: 768px) {
    nav div.menu ul {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
}

nav div.menu ul li {
    display: inline-block;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

nav div.menu ul li a {
    text-decoration: none;
    color: rgb(85,120,142);
}

div.container {
    max-width: 960px;
    /*margin: 0 auto;*/
    margin: 15px auto;
    overflow: auto;
}

div.container > h1 {
    text-transform: uppercase;
    color: #55788E;
}

div.paragraph {
    max-width: 50%;
    float: left;
    padding: 8px;
}

div.paragraph>h2 {
    margin-top: 0.3em;
}

.skills {
    max-width: 50%;
    float: left;
    padding: 8px;
}

.tabs {
    width: 100%;
    margin: 0;
    overflow: auto;
}

ul.tab-links {
    margin: 0;
    overflow: auto;
    padding: 0;
}

.tab-links li {
    float: left;
    list-style: none;
    margin: 0 5px;
}

.tab-links a {
    background-color: rgb(195,211,226);
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
    padding: 9px 15px;
    margin-left: 0px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #344756;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    color: #344756;
    background-color: rgb(214,228,234);
}

.tab-links li.active a {
    color: #344756;
    background-color:  rgb(214,228,234);
}

@media (max-width: 480px) {
    .tab-links a {
        font-size: 1em;
    }
}

.tab-content {
    width: 100%;
    display: inline-block;
    background-color: rgb(214,228,234);
    border-radius: 3px;
}

.tab-content ul {
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.tab li {
    margin-bottom: 10px;
    float: left;
    width: 50%;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.projects > p {
    padding: 10px;
}

div.project-details {
    padding: 10px;
}

div.project-left, div.project-right {
    max-width: 50%;
}
div.project-left {
    float: left;
}
div.project-right {
    float: right;
}
div.project-left h2, div.project-right h2 , div.projects h2, div.projects h3, div.projects > p {
    text-align: center;
}

@media (max-width: 768px) {
    .skills, div.project-left, div.project-right {
        max-width: 100%;
        clear:both;
        float:none
    }
    div.paragraph {
        max-width: 100%;
        clear:  both;
    }
}
